
MapDataServer/\.vs/
MapDataServer/MapDataServer/obj/
MapDataServer/MapDataServer/bin/

MapDataServer/MapDataServer/secrets\.json

*.ttf

MapDataServer/TripRecorder/TripRecorder\.Droid/obj/
MapDataServer/TripRecorder/TripRecorder\.Droid/bin/

MapDataServer/TripRecorder/TripRecorder\.UWP/obj/
MapDataServer/TripRecorder/TripRecorder\.UWP/bin/

MapDataServer/TripRecorder/TripRecorder\.iOS/obj/
MapDataServer/TripRecorder/TripRecorder\.iOS/bin/

MapDataServer/TripRecorder/TripRecorder\.Wasm/obj/
MapDataServer/TripRecorder/TripRecorder\.Wasm/bin/
MapDataServer/TripRecorder/TripRecorder\.Droid/Assets/secrets\.json

MapDataServer/TripRecorder2/TripRecorder2\.Android/bin/
MapDataServer/TripRecorder2/TripRecorder2\.Android/obj/

MapDataServer/TripRecorder2/TripRecorder2/bin/
MapDataServer/TripRecorder2/TripRecorder2/obj/

MapDataServer/TripRecorder2/TripRecorder2\.Android/Assets/secrets\.json

MapDataServer/TripRecorder2/TripRecorder2\.Android/Properties/AndroidManifest\.xml
